.card {
  width: 400px;
  height: 600px;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 50px;
}

.card:nth-child(odd) {
	background-color: black;
}
.card:nth-child(odd):hover {
	transform: rotate(15deg);
}
.card:nth-child(even) {
	margin-top: 70px;
	background-color: rgb(113, 113, 113);
}
.card:nth-child(even):hover {
	transform: rotate(-15deg);
}

.image-container {
  border-radius: 50px;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card .googlemap-tag-img {
  width: 20px;
	transform: translateY(-50%);
}

.food-image {
  border-radius: 50px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.map-pin {
  position: relative;
  z-index: 10000;
  width: 70px;
  height: 100px;
  left: 40%;
  top: -10px;
  background-image: url('../img/googlemap.jpg');
  background-size: cover;
  transform: translateY(-50%);
  overflow: auto;
}

.info {
  border-radius: 40px;
  padding: 20px;
  background-color: #fff;
  color: #333;
  text-align: left;
}

.info h2 {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.info p {
  margin: 5px 0;
}

.info .content-left {
  margin-right: 10px;
}

.info div {
  display: flex;
}